@{

}
<link href="~/Content/cover.css" rel="stylesheet" />
<link href="~/Plugins/UploadImg/js/highlight/highlight.css" rel="stylesheet" />
<script src="~/Plugins/UploadImg/js/plupload/plupload.full.min.js"></script>
<script src="~/Plugins/UploadImg/js/plupload/i18n/zh_CN.js"></script>
<script src="~/Plugins/UploadImg/js/ui.js"></script>
<script src="~/Plugins/UploadImg/js/qiniu.js"></script>
<script src="~/Plugins/UploadImg/js/highlight/highlight.js"></script>
<script src="~/Plugins/UploadImg/js/multiple.js"></script>
<link href="~/Plugins/UploadImg/css/uploadImg.css" rel="stylesheet" />
<script type="text/javascript">

    var carid = "";
    var financeid = "";

    var imgs = [];

    var uploader;
    $(function () {
        InitUpload();
        InitImgUpLoad();
    });

    function InitUpload() {
        var option = {};
        option.id = "pickfiles1";
        option.container = "container1";
        option.uptoken = "@ViewBag.uptoken";
        option.autostart = false;
        option.domain = qiniuurl;
        option.type = 1;
        option.multiup = true;
        //初始化七牛上传控件
        uploader = InitQiniuForAuction(option);

        var option2 = {};
        option2.id = "pickfiles2";
        option2.container = "container2";
        option2.uptoken = "@ViewBag.uptoken";
        option2.autostart = false;
        option2.domain = qiniuurl;
        option2.type = 2;
        option2.multiup = true;
        //初始化七牛上传控件
        uploader = InitQiniuForAuction(option2);

        var option3 = {};
        option3.id = "pickfiles3";
        option3.container = "container3";
        option3.uptoken = "@ViewBag.uptoken";
        option3.autostart = false;
        option3.domain = qiniuurl;
        option3.type = 3;
        option3.multiup = true;
        //初始化七牛上传控件
        //uploader = InitQiniuUpload(option3);
        uploader = InitQiniuForAuction(option3);
    }

    function showloading() {
        $('.loading-container.loading-inactive').css('display', 'block');
        $('.loading-container.loading-inactive .loader').css('display', 'block');
    }
    function hideloading() {
        $('.loading-container.loading-inactive').css('display', 'none');
        $('.loading-container.loading-inactive .loader').css('display', 'none');
    }

    var delList = [];
    function DeletePicture(picid, strhash) {

        delList.push(picid);
        $("#" + strhash).remove();

    }


    function goList() {
        hideloading();
        getBodyHtml('mainbody', '/car/car/FinanceProgrammeList');
    }

    function initUploadM() {
        // 图片选中
        $(".imgs .imgPreview").unbind().mousemove(function () {
            $(this).find(".caidan").show();
        }).mouseout(function () {
            $(this).find(".caidan").hide();
        });
        $(".imgs .caidan").unbind().mousemove(function () {
            $(this).show();
        }).mouseout(function () {
            $(this).hide();
        });
        // 图片删除
        $(".imgs .imgPreview .cz_4").unbind().click(function () {
            DeletePicture($(this).attr("data-id"), $(this).attr("hash"));
        });
    }

    //初始化七牛控件
    function InitQiniuForAuction(option) {
        Qiniu.uploader({
            runtimes: 'html5,flash,html4', //上传模式,依次退化
            flash_swf_url: '/common/plupload/Moxie.swf',
            browse_button: option.id, //上传选择的点选按钮，**必需**
            container: option.container, //上传区域DOM ID，默认是browser_button的父元素，
            max_file_size: '2mb', //最大文件体积限制
            dragdrop: true, //开启可拖曳上传
            chunk_size: '2mb', //分块上传时，每片的体积
            uptoken: option.uptoken,
            domain: option.domain, //cket 域名，下载资源时用到，**必需**
            auto_start: option.autostart, //选择文件后自动上传，若关闭需要自己绑定事件触发上传
            filters: [{
                title: "Image files",
                extensions: "jpg,png"
            }],
            init: {
                // 文件添加进队列后,处理相关的事情
                'FilesAdded': function (up, files) {
                    // 最多上传1张图
                    if (up.files.length > 1) {
                        up.splice(3, 999);
                    }
                    var i = 0;
                    plupload.each(files, function (file) {
                        var myDate = new Date();
                        file.name = "car_" + myDate.getTime() + i + ".jpg";
                        i++;
                    });
                    up.start();
                },
                // 每个文件上传前,处理相关的事情
                'BeforeUpload': function (up, file) {
                },
                // 每个文件上传成功后,处理相关的事情
                'FileUploaded': function (up, file, info) {
                    var json = {};
                    json.imgsrc = JSON.parse(info).key;
                    json.title = $("#" + option.id).attr("data-val");


                    if (option.multiup) {
                        FileProgress(file, option.type, JSON.parse(info).key);
                    }
                    else {
                        $("#" + option.id).css("line-height", "120px");
                        $("#" + option.id + " img").attr("src", option.domain + JSON.parse(info).key).css("margin-top", "0px");
                        $("#" + option.id).attr("data-id", JSON.parse(info).key).css("margin-top", "0px");
                    }

                }
            }
        });
    }

    function FileProgress(file, type, filename) {
        console.log(type);
        this.fileProgressID = file.id;
        this.file = file;

        this.opacity = 100;
        this.height = 0;
        this.fileProgressWrapper = $('#' + this.fileProgressID);
        if (!this.fileProgressWrapper.length) {
            previewImage(file, function (imgsrc) {
                //获取随机数
                strradom = (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);

                var strHtml = '<div id="' + strradom + '" class="imgPreview div2 divType' + type + '"  data-id="' + filename + '">';
                strHtml += '<img data-type="img" src="' + imgsrc + '" class="loading" >';
                strHtml += '<div class="caidan">';
                strHtml += '<div hash="' + strradom + '" class="cz_4" id="' + file.id + '"><div class="czl_icon"></div></div>';
                strHtml += '</div></div>';

                $('#imgs' + type).append(strHtml);

                // 立即执行事件绑定
                (function () {
                    // 当前方法对象
                    var fun = arguments.callee;
                    // 图片选中
                    $(".imgs .imgPreview").unbind().mousemove(function () {
                        $(this).find(".caidan").show();
                    }).mouseout(function () {
                        $(this).find(".caidan").hide();
                    });
                    $(".imgs .caidan").unbind().mousemove(function () {
                        $(this).show();
                    }).mouseout(function () {
                        $(this).hide();
                    });
                    // 图片删除
                    $(".imgs .imgPreview .cz_4").unbind().click(function () {
                        $("#" + $(this).attr("hash")).remove();
                        var toremove = '';
                        var id = $(this).attr("data-val");
                        for (var i in uploader.files) {
                            if (uploader.files[i].id === id) {
                                toremove = i;
                            }
                        }
                        uploader.files.splice(toremove, 1);
                    });
                    // 置顶图片
                    $(".imgs .imgPreview .cz_1").unbind().click(function () {
                        var imghtml = $("#" + $(this).attr("hash"))[0];
                        $("#" + $(this).attr("hash")).remove();
                        $('.imgs').prepend(imghtml);
                        fun();
                    });
                    // 图片前移
                    $(".imgs .imgPreview .cz_2").unbind().click(function () {
                        var id = "#" + $(this).attr("hash");
                        var $this = $(id).prev();
                        var imghtml = $(id)[0];
                        if ($this.size()) {
                            $(id).remove();
                            $this.before(imghtml);
                            fun();
                        }
                    });
                    // 图片后移
                    $(".imgs .imgPreview .cz_3").unbind().click(function () {
                        var id = "#" + $(this).attr("hash");
                        var $this = $(id).next();
                        var imghtml = $(id)[0];
                        if ($this.size()) {
                            $(id).remove();
                            $this.after(imghtml);
                            fun();
                        }
                    });
                })();

            });
        } else {
            this.reset();
        }
    }

    //保存基本信息
    function Submit() {
        var redecimal = /^[0-9]+([.]{1}[0-9]{1,2})?$/;//两位小数
        var reint = /^[1-9]\d*$/;//整数

        if ($("#amount").val() != "" && !redecimal.test($("#amount").val())) {
            alert("金额只能输入数值[最多两位小数]！");
            return false;
        }

        if ($("#coty").val() != "" && !reint.test($("#coty").val())) {
            alert("车龄只能输入数值！");
            return false;
        }

        if ($("#mileage").val() != "" && !redecimal.test($("#mileage").val())) {
            alert("里程只能输入数值[最多两位小数]！");
            return false;
        }

        if ($("#loanterm").val() != "" && !reint.test($("#loanterm").val())) {
            alert("贷款期限只能输入数值！");
            return false;
        }

        var json = {};

        json.amount = $("#amount").val();
        json.coty = $("#coty").val();
        json.mileage = $("#mileage").val();
        json.loanterm = $("#loanterm").val();
        json.customerpro = $("#selectcust").val();
        json.applicant = $("#applicant").val();
        json.mobile = $("#mobile").val();
        json.applytime = $("#applytime").val();
        json.createdid = "@ViewBag.UserId";
        //获取身份证信息
        var imgidentitypic = [];
        $('div .imgidentitypic').each(function () {
            var json = {};
            json.imgsrc = $(this).attr('data-id');
            json.title = $(this).attr("data-val");
            imgidentitypic.push(json);
        });

        json.identitypic = JSON.stringify(imgidentitypic);

        //驾驶证
        var imgdriverspic = [];
        $('div .imgdriverspic').each(function () {
            var json = {};
            json.imgsrc = $(this).attr('data-id');
            json.title = $(this).attr("data-val");
            imgdriverspic.push(json);
        });
        json.driverspic = JSON.stringify(imgdriverspic);

        //获取行驶证图片信息
        var jsondrivinglicensepic = [];
        $(' div .imgdrivinglicensepic').each(function () {
            var json = {};
            json.imgsrc = $(this).attr('data-id');
            json.title = $(this).attr("data-val");
            jsondrivinglicensepic.push(json);
        });
        json.drivinglicensepic = JSON.stringify(jsondrivinglicensepic);

        //获取产权证图片信息
        var jsoncertificatepic = [];
        $(' div .imgcertificatepic').each(function () {
            var json = {};
            json.imgsrc = $(this).attr('data-id');
            json.title = $(this).attr("data-val");
            jsoncertificatepic.push(json);
        });
        json.certificatepic = JSON.stringify(jsoncertificatepic);

        if (financeid == "") {
            json.financeid = financeid;
            $.post("/api/Car/AddFinanceProgramme", json, function (result) {

                if (result.errcode !== 0) {
                    alert(result.errmsg);
                    return false;
                }
                else {
                    financeid = result.errmsg;
                    alert("新增成功！");
                }
            });
        }
        else {
            json.innerid = financeid;
            $.post("/api/Car/UpdateFinanceProgramme", json, function (result) {

                if (result.errcode !== 0) {
                    alert(result.errmsg);
                    return false;
                }
                alert("修改成功！");
            });
        }

    }

    //返回
    function GoBack() {
        getBodyHtml('mainbody', '/car/car/FinanceProgrammeList');
    }

    //初始化图片上传控件
    function InitImgUpLoad() {
        //身份证图片
        var pics = ["身份证正面", "身份证反面"];
        $.each(pics, function (k, v) {
            var strradom = (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            $('#imgidentitypic').append(
                    '<div id="' + strradom + '" data-val="' + v + '" class="imgPreview imgidentitypic"  data-id="">\
            			            <img data-type="imgs" src="/Content/images/jia.png"  class="loading" width="550px">\
            			            <div class="caidan" style="background: rgba(232, 215, 215, 0.6);">\
            				            <div hash="' + strradom + '" style="width:100%;" class="cz_4" data-id="' + v + '">' + v + '</div>\
            			            </div>\
            		            </div>');

            var option = {};
            option.id = strradom;
            option.container = "imgidentitypic";
            option.uptoken = "@ViewBag.uptoken";
            option.autostart = false;
            option.domain = qiniuurl;
            //初始化七牛上传控件
            uploader = InitQiniuForAuction(option);
        });
        //驾驶证
        var pics = ["驾驶证正面", "驾驶证反面"];
        $.each(pics, function (k, v) {
            var strradom = (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            $('#imgdriverspic').append(
                    '<div id="' + strradom + '" data-val="' + v + '" class="imgPreview imgdriverspic"  data-id="">\
            			            <img data-type="imgs" src="/Content/images/jia.png"  class="loading" width="550px">\
            			            <div class="caidan" style="background: rgba(232, 215, 215, 0.6);">\
            				            <div hash="' + strradom + '" style="width:100%;" class="cz_4" data-id="' + v + '">' + v + '</div>\
            			            </div>\
            		            </div>');

            var option = {};
            option.id = strradom;
            option.container = "imgdriverspic";
            option.uptoken = "@ViewBag.uptoken";
            option.autostart = false;
            option.domain = qiniuurl;
            //初始化七牛上传控件
            uploader = InitQiniuForAuction(option);
        });
        //行驶证
        var pics = ["行驶证正面", "行驶证反面"];
        $.each(pics, function (k, v) {
            var strradom = (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            $('#imgdrivinglicensepic').append(
                    '<div id="' + strradom + '" data-val="' + v + '" class="imgPreview imgdrivinglicensepic"  data-id="">\
            			            <img data-type="imgs" src="/Content/images/jia.png"  class="loading" width="550px">\
            			            <div class="caidan" style="background: rgba(232, 215, 215, 0.6);">\
            				            <div hash="' + strradom + '" style="width:100%;" class="cz_4" data-id="' + v + '">' + v + '</div>\
            			            </div>\
            		            </div>');

            var option = {};
            option.id = strradom;
            option.container = "imgdrivinglicensepic";
            option.uptoken = "@ViewBag.uptoken";
            option.autostart = false;
            option.domain = qiniuurl;
            //初始化七牛上传控件 
            uploader = InitQiniuForAuction(option);
        });
        //产权证
        var pics = ["第一页", "第二页","第三页"];
        $.each(pics, function (k, v) {
            var strradom = (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            $('#imgcertificatepic').append(
                    '<div id="' + strradom + '" data-val="' + v + '" class="imgPreview imgcertificatepic"  data-id="">\
            			            <img data-type="imgs" src="/Content/images/jia.png"  class="loading" width="550px">\
            			            <div class="caidan" style="background: rgba(232, 215, 215, 0.6);">\
            				            <div hash="' + strradom + '" style="width:100%;" class="cz_4" data-id="' + v + '">' + v + '</div>\
            			            </div>\
            		            </div>');

            var option = {};
            option.id = strradom;
            option.container = "imgcertificatepic";
            option.uptoken = "@ViewBag.uptoken";
            option.autostart = false;
            option.domain = qiniuurl;
            //初始化七牛上传控件
            uploader = InitQiniuForAuction(option);
        });

        //银行卡 方案一
        var pics = ["银行卡正面"];
        $.each(pics, function (k, v) {
            var strradom = (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            $('#bankpic1').append(
                    '<div id="' + strradom + '" data-val="' + v + '" class="imgPreview imgbankpic1"  data-id="">\
            			            <img data-type="imgs" src="/Content/images/jia.png"  class="loading" width="550px">\
            			            <div class="caidan" style="background: rgba(232, 215, 215, 0.6);">\
            				            <div hash="' + strradom + '" style="width:100%;" class="cz_4" data-id="' + v + '">' + v + '</div>\
            			            </div>\
            		            </div>');

            var option = {};
            option.id = strradom;
            option.container = "bankpic1";
            option.uptoken = "@ViewBag.uptoken";
            option.autostart = false;
            option.domain = qiniuurl;
            //初始化七牛上传控件
            uploader = InitQiniuForAuction(option);
        });
        //银行卡 方案二
        $.each(pics, function (k, v) {
            var strradom = (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            $('#bankpic2').append(
                    '<div id="' + strradom + '" data-val="' + v + '" class="imgPreview imgbankpic2"  data-id="">\
            			            <img data-type="imgs" src="/Content/images/jia.png"  class="loading" width="550px">\
            			            <div class="caidan" style="background: rgba(232, 215, 215, 0.6);">\
            				            <div hash="' + strradom + '" style="width:100%;" class="cz_4" data-id="' + v + '">' + v + '</div>\
            			            </div>\
            		            </div>');

            var option = {};
            option.id = strradom;
            option.container = "bankpic2";
            option.uptoken = "@ViewBag.uptoken";
            option.autostart = false;
            option.domain = qiniuurl;
            //初始化七牛上传控件
            uploader = InitQiniuForAuction(option);
        });
        //银行卡 方案三
        $.each(pics, function (k, v) {
            var strradom = (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            $('#bankpic3').append(
                    '<div id="' + strradom + '" data-val="' + v + '" class="imgPreview imgbankpic3"  data-id="">\
            			            <img data-type="imgs" src="/Content/images/jia.png"  class="loading" width="550px">\
            			            <div class="caidan" style="background: rgba(232, 215, 215, 0.6);">\
            				            <div hash="' + strradom + '" style="width:100%;" class="cz_4" data-id="' + v + '">' + v + '</div>\
            			            </div>\
            		            </div>');

            var option = {};
            option.id = strradom;
            option.container = "bankpic3";
            option.uptoken = "@ViewBag.uptoken";
            option.autostart = false;
            option.domain = qiniuurl;
            //初始化七牛上传控件
            uploader = InitQiniuForAuction(option);
        });
        initUploadM();
    }

    //保存方案信息
    function SaveInfo(type) {
        var redecimal = /^[0-9]+([.]{1}[0-9]{1,2})?$/;//两位小数

        if ($("#interestrate" + type).val() === "") {
            alert("请填写利率！");
            return false;
        }
        if (!redecimal.test($("#interestrate" + type).val())) {
            alert("利率只能输入数值！");
            return false;
        }

        var json = {};

        json.interestrate = $("#interestrate" + type).val();
        json.status = $("#status" + type).val();
        json.remark = $("#caresc" + type).val();
        json.createdid = "@ViewBag.UserId";
        json.type = type;

        //获取图片信息
        var jsonpic = [];
        $(' div .divType' + type).each(function () {
            var json = {};
            json.imgsrc = $(this).attr('data-id');
            jsonpic.push(json);
        });
        json.describepic = JSON.stringify(jsonpic);

        //获取银行卡图片信息
        var jsonbankpic = [];
        $(' div .imgbankpic' + type).each(function () {
            var json = {};
            json.imgsrc = $(this).attr('data-id');
            jsonbankpic.push(json);
        });
        json.bankpic = JSON.stringify(jsonbankpic);

        if ($("#value" + type).val() == "") {
            json.financeid = financeid;
            $.post("/api/Car/AddFinanceProgrammeDetail", json, function (result) {

                if (result.errcode !== 0) {
                    alert(result.errmsg);
                    return false;
                }
                alert("新增成功！");
                $("#value" + type).val(result.errmsg)
            });
        }
        else {
            json.innerid = $("#value" + type).val();
            $.post("/api/Car/UpdateFinanceProgrammeDetail", json, function (result) {

                if (result.errcode !== 0) {
                    alert(result.errmsg);
                    return false;
                }
                alert("修改成功！");
            });
        }
    }

    function GetProgram() {
        if (financeid == "")
        {
            alert("请先保存基本数据！");
            $("#home11").addClass("active");
            $("#second").removeClass("active");
        }
    }

</script>

<div class="theme-popover">
    上传图片中...
    <img src="~/Content/images/loading.gif" alt="" />
</div>
<div class="theme-popover-mask"></div>
<div class="widget">
    <div class="tabbable" id="myBody1">
        <ul class="nav nav-tabs tabs-flat" id="myTab11">
            <li class="active">
                <a data-toggle="tab" href="#home11">
                    车辆基础资料
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#second" onclick="GetProgram();">
                    方案选择
                </a>
            </li>
        </ul>
        <div class="tab-content tabs-flat" id="myBody">
            <div id="home11" class="tab-pane in active">
                <div class="widget-header bordered-bottom bordered-palegreen">
                    <span class="widget-caption">车辆基本信息</span>
                </div>
                <div class="widget-body">
                    <div>
                        <form class="form-horizontal form-bordered" role="form">
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">申请金额</label>
                                        <div class="controls col-sm-8">
                                            <input type="text" id="amount" placeholder="申请金额" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">车龄</label>
                                        <div class="controls col-sm-8">
                                            <input type="text" id="coty" placeholder="车龄" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">里程</label>
                                        <div class="controls col-sm-8">
                                            <input type="text" id="mileage" placeholder="里程" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">期限（月）</label>
                                        <div class="controls col-sm-8">
                                            <input type="text" id="loanterm" placeholder="期限（月）" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">客户区域</label>
                                        <div class="controls col-sm-8">
                                            <select id="selectcust" style="width:100%">
                                                <option value="1">省内</option>
                                                <option value="2">省外</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">申请人</label>
                                        <div class="controls col-sm-8">
                                            <input type="text" id="applicant" placeholder="申请人" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">联系方式</label>
                                        <div class="controls col-sm-8">
                                            <input type="text" id="mobile" placeholder="联系方式" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">申请时间</label>
                                        <div class="col-sm-10">
                                            <input id="applytime" class="Wdate form-control" type="text" placeholder="申请时间" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-1 control-label no-padding-right"><label class="required">*</label>身份证</label>
                                        <div class="controls col-sm-11" id="">
                                            <div id="imgidentitypic" class="imgs col-xs-12" style="padding:10px 144px 0px 0;">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-1 control-label no-padding-right"><label class="required">*</label>驾驶证</label>
                                        <div class="controls col-sm-11" id="">
                                            <div id="imgdriverspic" class="imgs col-xs-12" style="padding:10px 144px 0px 0;">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-1 control-label no-padding-right"><label class="required">*</label>行驶证</label>
                                        <div class="controls col-sm-11" id="">
                                            <div id="imgdrivinglicensepic" class="imgs col-xs-12" style="padding:10px 144px 0px 0;">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-1 control-label no-padding-right"><label class="required">*</label>产权证</label>
                                        <div class="controls col-sm-11" id="">
                                            <div id="imgcertificatepic" class="imgs col-xs-12" style="padding:10px 144px 0px 0;">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group text-center">
                                <div class="col-lg-12">
                                    <input id="submit" type="button" class="btn btn-palegreen shiny" value="保存" onclick="Submit();" />
                                    <input type="button" class="btn btn-primary shiny" value="返回" onclick="goList();" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="second" class="tab-pane">
                <div class="widget-header bordered-bottom bordered-palegreen">
                    <span class="widget-caption">方案一</span>
                </div>
                <div class="widget-body">
                    <div>
                        <form class="form-horizontal form-bordered" role="form">
                            @*银行卡*@
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>银行卡</label>
                                        <div class="controls col-sm-8" id="">
                                            <div id="bankpic1" class="imgs col-xs-12" style="padding:10px 144px 0px 0;">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                </div>
                            </div>
                            @*利率 状态*@
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">利率</label>
                                        <div class="controls col-sm-8">
                                            <input type="text" id="interestrate1" placeholder="利率" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-1 control-label no-padding-right"><label class="required">*</label>相关图片</label>
                                        <div class="controls col-sm-11" id="imgList">
                                            <div id="container1">
                                                <a class="btn btn-default btn-lg " id="pickfiles1" href="#">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <sapn>选择文件</sapn>
                                                </a><label class="required">只能上传2M以下图片</label>
                                            </div>
                                            <div>
                                                <div id="imgs1" class="imgs1 col-xs-12" style="padding:10px 144px 0px 0;">
                                                </div>
                                            </div>
                                            <table class="table table-striped table-hover text-left" style="margin-top:40px;display:none">
                                                <tbody id="fsUploadProgress1"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            @*备注*@
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="caresc" class="col-sm-1 control-label no-padding-right">备注</label>
                                        <div class="col-sm-11">
                                            <textarea id="caresc1" maxlength="200" rows="5" cols="150" placeholder="备注"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*按钮*@
                            <div class="row form-group text-center">
                                <div class="col-lg-12">
                                    <input id="save1" type="button" class="btn btn-palegreen shiny " value="保存" onclick="SaveInfo(1);" />
                                    <input type="button" class="btn btn-primary shiny" value="返回" onclick="GoBack();" />
                                    <input type="button" class="btn btn-primary shiny" value="下载" onclick="DownPic(1);" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="widget-header bordered-bottom bordered-palegreen">
                    <span class="widget-caption">方案二</span>
                </div>
                <div class="widget-body">
                    <div>
                        <form class="form-horizontal form-bordered" role="form">
                            @*银行卡*@
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>银行卡</label>
                                        <div class="controls col-sm-8" id="">
                                            <div id="bankpic2" class="imgs col-xs-12" style="padding:10px 144px 0px 0;">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                </div>
                            </div>
                            @*利率 状态*@
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">利率</label>
                                        <div class="controls col-sm-8">
                                            <input type="text" id="interestrate2" placeholder="利率" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-1 control-label no-padding-right"><label class="required">*</label>相关图片</label>
                                        <div class="controls col-sm-11" id="imgList2">
                                            <div id="container2">
                                                <a class="btn btn-default btn-lg " id="pickfiles2" href="#">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <sapn>选择文件</sapn>
                                                </a><label class="required">只能上传2M以下图片</label>
                                            </div>
                                            <div>
                                                <div id="imgs2" class="imgs col-xs-12" style="padding:10px 144px 0px 0;">
                                                </div>
                                            </div>
                                            <table class="table table-striped table-hover text-left" style="margin-top:40px;display:none">
                                                <tbody id="fsUploadProgress2"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            @*备注*@
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="caresc2" class="col-sm-1 control-label no-padding-right">备注</label>
                                        <div class="col-sm-11">
                                            <textarea id="caresc2" maxlength="200" rows="5" cols="150" placeholder="备注"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*按钮*@
                            <div class="row form-group text-center">
                                <div class="col-lg-12">
                                    <input id="save2" type="button" class="btn btn-palegreen shiny " value="保存" onclick="SaveInfo(2);" />
                                    <input type="button" class="btn btn-primary shiny" value="返回" onclick="GoBack();" />
                                    <input type="button" class="btn btn-primary shiny" value="下载" onclick="DownPic(2);" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="widget-header bordered-bottom bordered-palegreen">
                    <span class="widget-caption">方案三</span>
                </div>
                <div class="widget-body">
                    <div>
                        <form class="form-horizontal form-bordered" role="form">
                            @*银行卡*@
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>银行卡</label>
                                        <div class="controls col-sm-8" id="">
                                            <div id="bankpic3" class="imgs col-xs-12" style="padding:10px 144px 0px 0;">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                </div>
                            </div>
                            @*利率 状态*@
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label no-padding-right">利率</label>
                                        <div class="controls col-sm-8">
                                            <input type="text" id="interestrate3" placeholder="利率" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="" class="col-sm-1 control-label no-padding-right"><label class="required">*</label>相关图片</label>
                                        <div class="controls col-sm-11" id="imgList3">
                                            <div id="container3">
                                                <a class="btn btn-default btn-lg " id="pickfiles3" href="#">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <sapn>选择文件</sapn>
                                                </a><label class="required">只能上传2M以下图片</label>
                                            </div>
                                            <div>
                                                <div id="imgs3" class="imgs3 col-xs-12" style="padding:10px 144px 0px 0;">
                                                </div>
                                            </div>
                                            <table class="table table-striped table-hover text-left" style="margin-top:40px;display:none">
                                                <tbody id="fsUploadProgress3"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            @*备注*@
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="caresc" class="col-sm-1 control-label no-padding-right">备注</label>
                                        <div class="col-sm-11">
                                            <textarea id="caresc3" maxlength="200" rows="5" cols="150" placeholder="备注"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*按钮*@
                            <div class="row form-group text-center">
                                <div class="col-lg-12">
                                    <input id="save3" type="button" class="btn btn-palegreen shiny " value="保存" onclick="SaveInfo(3);" />
                                    <input type="button" class="btn btn-primary shiny" value="返回" onclick="GoBack();" />
                                    <input type="button" class="btn btn-primary shiny" value="下载" onclick="DownPic(3);" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="text" id="value" class="form-control hidden" />
<input type="text" id="value1" class="form-control hidden" />
<input type="text" id="value2" class="form-control hidden" />
<input type="text" id="value3" class="form-control hidden" />




