@{ 
    var innerid = "";
    if (Request.Cookies["type"].Value.ToString() == "1")
    {
        innerid = ViewBag.UserInfo.innerid;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/original")
    @Styles.Render("~/Content/template")
    <script type="text/javascript">
        $(function () {
            //设置cookie值
            setCookie();
        });
        //定位当前城市
        $.getScript('http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js', function (_result) {
            if (remote_ip_info.ret == '1') {
                document.cookie = "province=" + remote_ip_info.province + "; city=" + remote_ip_info.city;
            }
        });
    </script>
    <style>
        .loading-container {
            opacity: 0.5; /* 通用，其他浏览器  有效*/
            background: #AAB1B3;
        }
    </style>
</head>
<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand" style="padding-top: 8px">
                        <small>
                            车信网资源后台
                        </small>
                    </a>
                </div>
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                @*head信息*@
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <section>
                                        @*<h2><span class="profile"><span>操作人：@ViewBag.UserInfo.username <i class="fa fa-cog"></i></span></span></h2>*@
                                        <h2><span class="profile"><span>操作人：@ViewBag.showname <i class="fa fa-cog"></i></span></span></h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <!--选择主题开始-->
                                    <li class="theme-area">
                                        <ul class="colorpicker" id="skin-changer">
                                            <li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" rel="~/Content/Template/css/skins/blue.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="~/Content/Template/css/skins/azure.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="~/Content/Template/css/skins/teal.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="~/Content/Template/css/skins/green.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" rel="~/Content/Template/css/skins/orange.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" rel="~/Content/Template/css/skins/pink.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="~/Content/Template/css/skins/darkred.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="~/Content/Template/css/skins/purple.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="~/Content/Template/css/skins/darkblue.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#585858;" rel="~/Content/Template/css/skins/gray.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#474544;" rel="~/Content/Template/css/skins/black.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#001940;" rel="~/Content/Template/css/skins/deepblue.min.css"></a></li>
                                        </ul>
                                    </li>
                                    <!--选择主题结束-->
                                    @{
                                        if (Request.Cookies["type"].Value.ToString() == "1")
                                        {
                                            <li class="edit">
                                                <a href='javascript:;' class="pull-right" style="padding-bottom: 3px;" data-toggle="modal" data-target="#changeModal">修改密码 </a>
                                            </li>
                                        }
                                    }
                                    
                                    <li class="dropdown-footer">
                                        <br />
                                        <a href="/home/login?type=1">
                                            退出
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
                </div>
                <!-- /Page Sidebar Header -->
                <!-- 左边菜单 开始-->
                @*@Html.Partial("_Menu")*@
                @{Html.RenderAction("LeftMenu", "Home");}
                <!-- 左边菜单 结束-->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs" style="height: 40px;">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">Dashboard</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            主页
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div id="mainbody" class="page-body">
                    @RenderBody()
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/template")
    @RenderSection("scripts", required: false)
</body>
</html>
<!-- Modal -->
<div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="changeModalLabel">
    <div class="modal-dialog" role="document" style="margin-top:230px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="changeModalLabel">修改密码</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <div class="widget-body">
                    <div>
                        <form class="form-horizontal form-bordered" role="form" id="pwdform">
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="oldpwd" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>原密码：</label>
                                        <div class="controls col-sm-10">
                                            <input type="password" id="oldpwd" class="form-control" placeholder="原密码" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="newpwd" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>新密码：</label>
                                        <div class="controls col-sm-10">
                                            <input type="password" id="newpwd" class="form-control" placeholder="新密码" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="surepwd" class="col-sm-2 control-label no-padding-right"><label class="required">*</label>再次输入：</label>
                                        <div class="controls col-sm-10">
                                            <input type="password" id="surepwd" class="form-control" placeholder="再次输入新密码" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="required" id="errshow"></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <div class="row form-group text-center">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-palegreen shiny" value="确定" onclick="ChangePersonal('@innerid');" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ChangePersonal(id)
    {
        $("#errshow").empty();
        var oldpwd = $("#oldpwd").val();
        var newpwd = $("#newpwd").val();
        var surepwd = $("#surepwd").val();
        //判断是否都有值
        if (oldpwd == "" || newpwd == "" || surepwd == "")
        {
            $("#errshow").html('填入信息不全');
            return;
        }
        if (newpwd != surepwd)
        {
            $("#errshow").html('输入的新密码不一致，请重新输入！');
            return;
        }

        //修改密码
        var json = {
            innerid: id,
            password: newpwd
        };
        //验证原密码是否正确
        $.ajax({
            url: '/api/Base/GetUserInfoByID?innerid=' + id,
            type: 'get',
            datatype: 'application/json',
            async: false,
            success: function (data) {
                if (data.errcode !== 0) {
                    $("#errshow").html('系统错误，请重新登入！');
                }
                else {
                    if (oldpwd != data.errmsg.password) {
                        $("#errshow").html('原密码不正确，重置密码请联系管理员！');
                    }
                    else {
                        $.ajax({
                            url: '/api/Base/UpdateUser',
                            type: 'post',
                            datatype: 'application/json',
                            data: json,
                            async: false,
                            success: function (result) {
                                $("#errshow").html('密码修改成功！');
                                $('#changeModal').modal('hide');
                                //清空数据
                                $("#oldpwd").val('');
                                $("#newpwd").val('');
                                $("#surepwd").val('');
                                $("#errshow").html('');
                            }
                        });
                    }
                }
            }
        });
    }
</script>