@using CCN.Resource.Common;

@{
    var menuList = ReadXML.GetMenuList();
    <ul class="nav sidebar-menu">
        <!--主页-->
        <li class="active">
            <a href="/Home/Index">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> 主页 </span>
            </a>
        </li>
        @foreach (var group in menuList.menugroups)
        {
        <!--Databoxes-->
            string dropClass = "";
            if (group.submenu)
            {
                dropClass = "menu-dropdown";
            }

            <li>
                <a href="javascript:void(0);" class="@dropClass" >
                    <i class="@group.icon"></i>
                    <span class="menu-text"> @group.name </span>
                    @if (group.submenu)
                    {
                        <i class='menu-expand'></i>
                    }
                </a>
                @if (group.submenu)
                {
                    <ul class="submenu">
                        @foreach (var secondMenu in group.MenuArray)
                        {
                            <li>
                                @if (secondMenu.submenu)//存在子菜单
                                {
                                    <a href="javascript:void(0);" class="menu-dropdown">
                                        <span class="menu-text">@secondMenu.name</span>
                                        <i class="menu-expand"></i>
                                    </a>
                                    <ul class="submenu">
                                        @foreach (var thirdMenu in secondMenu.MenuArray)
                                        {
                                            <li>
                                                <a href="javascript:void(0);" onclick="getBodyHtml('mainbody', '@thirdMenu.url',this);">
                                                    <i class="@thirdMenu.icon"></i>
                                                    <span class="menu-text">@thirdMenu.name</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                                else//没有子菜单
                                {
                                    <a href="javascript:void(0);" onclick="getBodyHtml('mainbody', '@secondMenu.url',this);">
                                        <span class="menu-text">@secondMenu.name</span>
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                }

            </li>
        }
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-fire themesecondary"></i>
                <span class="menu-text">
                    Chinaccn version
                </span>
            </a>
        </li>
    </ul>
}

